{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#foreach posts}}
<article class="{{post_class}}">
    <header class="post-header" style="margin-bottom: 2rem;">
        <h3 style="margin-bottom:0px"><a href="{{url}}">{{title}}</a></h3>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><i>Published {{date format="DD MMMM YYYY"}}</i></time>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="60"}}... (<a class="read-more" href="{{url}}">read more</a>)</p>
    </section>
</article>
{{/foreach}}